---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
interface Post {
	data: { title: string; date: string; description?: string };
	slug: string;
}
const unfilteredPosts = await getCollection("blog");
const posts = unfilteredPosts.filter((post) => !post.data.draft);

posts.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));
---

<Layout title="Blog">
   
    <ul class="">
      {
        posts.map((post: Post) => (
          <li class="flex justify-between my-2">
            <a href={`/blog/${post.slug}/`} class="underline text-lg">
              {post.data.title}
            </a>
            <p>{new Date(post.data.date).toLocaleDateString()}</p>
          </li>
        ))
      }
    </ul>
</Layout>
