---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404 not found">
  <div class="prose dark:prose-invert text-center">
    <h1>404 not found.</h1>
    {/* this is cool */}
    <div class="flex gap-2">
      lol you got lost,
      <a href="/" class="cursor-pointer"> go home? </a>
    </div>
  </div>
</Layout>
