---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contact">
<p>I’m always interested in collaborating on projects, sharing ideas, or just chatting about tech. Feel free to reach out on whatever platform is most convenient</p>
<br>
<br>
<p>email: hello [at] abhirath [dot] net</p>
<br>
<p>github: <a href="https://github.com/abhirath-a" class="underline">@abhirath-a</a></p>

</Layout>
