---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
  <div class="max-w-[65ch] flex flex-col">
    <h2 class="font-bold text-2xl my-4">
      Hi, I'm Abhi, a web developer and student living in Washington, DC.
    </h2>
    <p class="leading-[1.75]">
      I spend my free time either learning new ideas or building upon those new
      ideas. I am personally interested in Neural Networks, Web Development, and
      Data Science. I usually program, paint, or read in my spare time.
    </p>
  </div>
</Layout>
