---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Now">
  <h1 class="text-3xl mb-2">What I'm doing now</h1>
  <p class="italic">Last updated: 24-12-2025</p>
  <br>
  <p>I'm on winter break, currently I'm just relaxing. I'm currently reading <span class="italic">The Firm</span> by John Grisham.</p>
</Layout>
