---
export const partial = true;
---
<dialog open>
    <div class="dark:text-slate-100 text-slate-950 fixed left-[50%] top-[50%] z-50 open:grid w-full max-w-lg translate-x-[-50%] translate-y-[-50%] gap-4 border bg-background p-6 shadow-lg duration-200 open:animate-in closed:animate-out closed:fade-out-0 open:fade-in-0 closed:zoom-out-95 open:zoom-in-95 closed:slide-out-to-left-1/2 closed:slide-out-to-top-[48%] open:slide-in-from-left-1/2 open:slide-in-from-top-[48%] sm:rounded-lg sm:max-w-[425px]">
  <p>Greetings, one and all!</p>
  <form method="dialog">
    <button>OK</button>
  </form>
</div>
</dialog>
