---
import { Moon, Sun } from "lucide-react";

import { buttonVariants } from "@/components/ui/button";

// const [theme, setThemeState] = React.useState<
//   "theme-light" | "dark" | "system"
// >("theme-light");

// React.useEffect(() => {
//   const isDarkMode = document.documentElement.classList.contains("dark");
//   setThemeState(isDarkMode ? "dark" : "theme-light");
// }, []);

// React.useEffect(() => {
//   const isDark =
//     theme === "dark" ||
//     (theme === "system" &&
//       window.matchMedia("(prefers-color-scheme: dark)").matches);
//   document.documentElement.classList[isDark ? "add" : "remove"]("dark");
// }, [theme]);
---

<button
  id="theme-toggle"
  class={buttonVariants({ variant: "ghost", size: "icon" })}
  aria-label="Toggle theme"
>
  <Sun
    className="h-[1.2rem] w-[1.2rem] rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0"
  />
  <Moon
    className="absolute h-[1.2rem] w-[1.2rem] rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100"
  />
  <span class="sr-only">Toggle theme</span></button
>

<script is:inline>
  // Function to get the current theme from localStorage or default to 'light'
  const getTheme = () => localStorage.getItem("theme") ?? "light";

  // Function to set the theme in localStorage and update the document class
  const setTheme = (theme) => {
    document.documentElement.classList.toggle("dark", theme === "dark");
    localStorage.setItem("theme", theme);
  };

  // Initialize the theme
  let theme = getTheme();
  setTheme(theme);

  // Function to handle theme toggle
  const handleClick = () => {
    theme = theme === "light" ? "dark" : "light";
    setTheme(theme);
  };

  // Set the initial button content based on the theme
  document.addEventListener("DOMContentLoaded", () => {
    document
      .getElementById("theme-toggle")
      .addEventListener("click", handleClick);
  });
  document.addEventListener("astro:after-swap", () => {
    document
      .getElementById("theme-toggle")
      .addEventListener("click", handleClick);
  });
</script>
