---
interface Props {
  title: string;
  classList?: string;
}

const { title, classList } = Astro.props;
import "@/styles/globals.css";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/inter";
import Header from "@/components/Header/index.astro";
import { cn } from "@/lib/utils";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en" transition:animate="initial">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/highlight/styles/catppuccin-mocha.css" />
    <ViewTransitions />
    <title>
      {import.meta.env.DEV && "DEV -"}
      {title} - Abhirath
    </title>
  </head>
  <body
    class={cn(
      "min-h-screen min-w-[100vw] bg-background font-sans antialiased leading-tight tracking-tight max-w-5xl w-11/12 container flex flex-col",
      classList
    )}
  >
    <Header />
    <main class="container w-full py-6 flex justify-center items-center">
      <slot />
    </main>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src={import.meta.env.GOOGLE_ANALYTICS_URL}
      type="text/partytown"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", import.meta.env.GOOGLE_ANALYTICS_ID);
    </script>
    <script is:inline>
      function setInitColorMode() {
        const localTheme = (() => {
          if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
          ) {
            return localStorage.getItem("theme");
          }
          if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
          }
          return "light";
        })();

        if (localTheme === "light") {
          document.documentElement.classList.remove("dark");
        } else {
          document.documentElement.classList.add("dark");
        }
        window.localStorage.setItem("theme", localTheme);
      }
      document.addEventListener("astro:after-swap", setInitColorMode);
      setInitColorMode();
    </script>
  </body>
</html>
